body {
  background:#e74c3c;
  margin: 0;
  padding: 0;
}

header {
  width:100%;
  height:100%;
}

header h1 {  
    display:inline-block;
    width:100%;
    color:white;
    position:relative;
    margin:0;
    padding:0;
    padding-top:10%;
    font-family: 'Open Sans', sans-serif;
    font-weight:100;
    font-size:3em;
    text-align:center;
}
.nameContainer {
    opacity:1;
  position:absolute;
    transition:all .2s ease-out;
    padding-left:.3em;
}

.hidden {
  opacity:0;
}